!!! 5
%html
  %head
    %title Visual Office
    %meta{charset: 'UTF-8'}
    %link{href: 'stylesheets/application.css', rel: 'stylesheet'}
    %link{href: 'stylesheets/screen.css', media: 'screen, projection',
      rel: 'stylesheet'}
    %link{href: 'stylesheets/print.css', media: 'print', rel: 'stylesheet'}
    <!--[if IE]>
    %link{href: 'stylesheets/ie.css', media: 'screen, projection',
      rel: 'stylesheet'}
    <![endif]-->

  %body
    #canvas

    #toolbar
      #add-desk
      #toolbar-toggle
        #toolbar-toggle-arrow

    %script{type: 'text/javascript',
      src: 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'javascripts/application.js'}
